html {
}

body {
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
  font-size: 16px;
  line-height: 1.5;
  padding: 0 1em;
}

img.content {
  display: block;
  max-width: 100%;
}

hr {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

hr.scene_change {
  height: 21px;
  border-bottom: 3px dashed #666666;
}
hr.scene_change::after {
  content: "Eternal-Empire";
  color: #cccccc;
  font-family: cursive;
  font-size: 15px;
  text-shadow: 2px 2px 0 #666666;
  display: inline-block;
  height: 20px;
  position: absolute;
  right: 30px;
}

blockquote {
  border-left: 3px solid #666;
  padding-left: 10px;
}

@media all and (min-width: 480px) {
  span.lightmace {
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
    background: -webkit-linear-gradient(left, red, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, red, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}

@media all and (max-width: 480px) {
  body {
    padding: 0 10px;
  }

  h1 {
    font-size: 18px;
  }

  span.lightmace {
    font-size: 32px;
    font-weight: bold;
    font-color: red;
  }
}
